<article id="content" role="main">
  <div class="content-wrapper">
    <div class="dev-menu-nav large-2 hide-for-medium-only hide-for-small-only columns">
      <h3 class="dev-nav-header"><strong>Online Course</strong></h3>
      <ul style="padding-top: 0;" class="side-nav">
        <% @attributes.select { |k, _| k.start_with?('module-toc-link-') }.each_key do |toc_link_attr| %>
          <%
            toc_index = toc_link_attr.sub('module-toc-link-', '')
            toc_title_attr = "module-toc-title-#{toc_index}"
            toc_slug_attr = "module-toc-slug-#{toc_index}"
          %>
          <a href="../<%= attr(toc_slug_attr) %>">
            <dl class="menu-list">
              <dd class="accordion-dev-nav <%= attr(toc_slug_attr) == attr('slug') ? 'active' : '' %>">
                <i data-type="progress-indicator" data-slug="<%= attr(toc_slug_attr) %>"></i>
                <%= attr(toc_title_attr) %>
              </dd>
            </dl>
          </a>
        <% end %>
      </ul>
      <div class="c2a-icons">
        <div>
          <a href="http://community.neo4j.com" target="_blank" alt="Neo4j Community Site and Forum" rel="noopener noreferrer"><i class="fa fa-comments" aria-hidden="true"></i><br></a>
        </div>
        <div><a href="http://twitter.com/neo4j" target="_blank" alt="Neo4j on Twitter" rel="noopener noreferrer">
          <i class="fa fa-twitter" aria-hidden="true"></i><br></a></div>
        <div>
          <a href="http://youtube.com/neo4j" target="_blank" alt="Neo4j on YouTube" rel="noopener noreferrer"><i class="fa fa-youtube-play" aria-hidden="true"></i><br></a>
        </div>
        <div>
          <a href="https://meetup.com/Neo4j-Online-Meetup/" target="_blank" alt="Neo4j on Meetup" rel="noopener noreferrer"><i class="fa fa-meetup" aria-hidden="true"></i><br></a>
        </div>
        <div>
          <a href="https://github.com/neo4j/neo4j" target="_blank" alt="Neo4j on GitHub" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i><br></a>
        </div>
        <div>
          <a href="http://stackoverflow.com/questions/tagged/neo4j" target="_blank" alt="Neo4j on Stackoverflow" rel="noopener noreferrer"><i class="fa fa-stack-overflow" aria-hidden="true"></i><br></a>
        </div>
      </div>
      <div class="promote-speaker-program">
        Want to Speak? <a href="https://neo4j.com/speaker-program/">Get $ back.</a>
      </div>
    </div>
    <div class="guide-section-content large-8 columns">
      <h1 class="entry-title"><%= attr 'doctitle' %></h1>
      <%= content %>
      <div id="_grade_quiz_and_continue" class="sect1 columns medium-12" style="padding-left: 0;">
        <h3>Grade Quiz and Continue</h3>
        <!-- fixme: configure the module link -->
        <div class="paragraph">
          <a data-type="grade-quiz" data-slug="<%= attr('slug') %>" class="next-section medium button" href="../<%= attr('module-next-slug') %>/">Continue to <%= attr('module-next-title') %></a>
        </div>
        <script>
          window.trainingClassName = "<%= attr('module-name') %>"
        </script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://neo4jsandbox.com/js/js.cookie-2.1.3.min.js"></script>
        <script src="https://graphacademy.neo4j.com/training-classes/js/classes-v2.js" type="text/javascript"></script>
        <script>
          <%= File.new("#{__dir__ }/_quizzes.js", mode: 'r:UTF-8').read %>
        </script>
        <script src="https://s3.amazonaws.com/dev.assets.neo4j.com/wp-content/js/jwt-decode.min.js"></script>
      </div>
    </div>
    <div class="guide-toc large-2 hide-for-medium-only hide-for-small-only columns">
      <ul class="side-nav">
        <dl class="accordion">
          <dd class="accordion-navigation active">
            <h3>Contents</h3>
            <div id="nav" class="toc content active">
              <ul class="sectlevel1">
                <% document.find_by({context: :section}) { |section| section.level == 1 }.each do |section| %>
                  <!-- fixme: highlighting the active section during scroll does not work properly in developer.js -->
                  <li><a href="#<%= section.id %>"><%= section.title %></a></li>
                <% end %>
              </ul>
            </div>
          </dd>
        </dl>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</article>

<% if syntax_highlighter && syntax_highlighter.docinfo?(:footer) %>
  <%
    unless (asset_uri_scheme = (attr('asset-uri-scheme', 'https'))).empty?
      asset_uri_scheme = %(#{asset_uri_scheme}:)
    end
    cdn_base_url = %(#{asset_uri_scheme}//cdnjs.cloudflare.com/ajax/libs)
  %>
  <%= syntax_highlighter.docinfo(:footer, self, cdn_base_url: cdn_base_url, linkcss: attr?('linkcss'), self_closing_tag_slash: '/') %>
<% end %>
<style>
  <%= File.new("#{__dir__ }/_extra.css", mode: 'r:UTF-8').read %>
</style>
