<%
require 'json'
%>
<article id="content" role="main">
  <div class="content-wrapper">
    <div class="dev-menu-nav large-2 columns">
      <i class="fa fa-times close" aria-hidden="true"></i>
      <i class="fa fa-bars open" aria-hidden="true"></i>
      <div class="dev-menu-content">
        <h3 class="dev-nav-header"><strong>Online Course</strong></h3>
        <ul style="padding-top: 0;" class="side-nav">
          <% @attributes.select { |k, _| k.start_with?('module-toc-link-') }.each_key do |toc_link_attr| %>
            <%
              toc_index = toc_link_attr.sub('module-toc-link-', '')
              toc_title_attr = "module-toc-title-#{toc_index}"
              toc_slug_attr = "module-toc-slug-#{toc_index}"
            %>
            <a href="../<%= attr(toc_slug_attr) %>">
              <dl class="menu-list">
                <dd class="accordion-dev-nav <%= attr(toc_slug_attr) == attr('slug') ? 'active' : '' %>">
                  <i data-progress-indicator data-slug="<%= attr(toc_slug_attr) %>"></i>
                  <%= attr(toc_title_attr) %>
                </dd>
              </dl>
            </a>
          <% end %>
        </ul>
        <div class="c2a-icons">
          <div>
            <a href="http://community.neo4j.com" target="_blank" alt="Neo4j Community Site and Forum" rel="noopener noreferrer"><i class="fa fa-comments" aria-hidden="true"></i><br></a>
          </div>
          <div><a href="http://twitter.com/neo4j" target="_blank" alt="Neo4j on Twitter" rel="noopener noreferrer">
            <i class="fa fa-twitter" aria-hidden="true"></i><br></a></div>
          <div>
            <a href="http://youtube.com/neo4j" target="_blank" alt="Neo4j on YouTube" rel="noopener noreferrer"><i class="fa fa-youtube-play" aria-hidden="true"></i><br></a>
          </div>
          <div>
            <a href="https://meetup.com/Neo4j-Online-Meetup/" target="_blank" alt="Neo4j on Meetup" rel="noopener noreferrer"><i class="fa fa-meetup" aria-hidden="true"></i><br></a>
          </div>
          <div>
            <a href="https://github.com/neo4j/neo4j" target="_blank" alt="Neo4j on GitHub" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i><br></a>
          </div>
          <div>
            <a href="http://stackoverflow.com/questions/tagged/neo4j" target="_blank" alt="Neo4j on Stackoverflow" rel="noopener noreferrer"><i class="fa fa-stack-overflow" aria-hidden="true"></i><br></a>
          </div>
        </div>
        <div class="promote-speaker-program">
          Want to Speak? <a href="https://neo4j.com/speaker-program/">Get $ back.</a>
        </div>
      </div>
    </div>
    <div class="guide-section-content large-8 columns">
      <h1 class="entry-title"><%= attr('doctitle') %></h1>
      <%= content %>
      <% if attr('page-certificate') == 'true' %>
        <div id="_certificate" class="sect1 certificate columns medium-12" style="padding-left: 0;">
          <h3 style="display: inline;">
            <a class="anchor" href="#_certificate"></a>Certificate
          </h3>
          <a href="#_certificate"><i class="fa fa-link" aria-hidden="true" style="margin-left: 20px; color: lightgrey"></i></a>
          <div id="_get_certificate" class="sect1 columns medium-12" style="padding-left: 0;">
            <div data-certificate-result>
              <i>Checking for certificate...</i>
            </div>
          </div>
        </div>
      <% else %>
        <div id="_grade_quiz_and_continue" class="sect1 columns medium-12" style="padding-left: 0;">
          <div class="paragraph">
            <% if attr('module-quiz') == 'true' %>
              <a data-action="grade-quiz" data-slug="<%= attr('slug') %>" class="medium button secondary"><i class="fa fa-check"></i> Check Answers</a>
            <% end %>
            <a class="medium button primary" href="../<%= attr('module-next-slug') %>/"><i class="fa fa-arrow-right" aria-hidden="true"></i> Continue to <%= attr('module-next-title') %></a>
          </div>
        </div>
      <% end %>
      <%
        modules = (@attributes.select { |k, _| k.start_with?('module-quiz-') }.keys.map do |quiz_attr|
          quiz_index = quiz_attr.sub('module-quiz-', '')
          page_slug_attr = "module-toc-slug-#{quiz_index}"
          if attr(quiz_attr) == 'true'
            attr(page_slug_attr)
          else
            nil
          end
        end).compact
      %>
      <script>
        window.trainingClassName = "<%= attr('module-name') %>"
        window.trainingPartName = "<%= attr('slug') %>"
        window.trainingClassModules = <%= modules.to_json %>
        window.trainingBackendBaseUrl = 'https://nmae7t4ami.execute-api.us-east-1.amazonaws.com/prod'
        window.trainingEnrollmentUrl = "<%= attr('module-enrollment-url') %>"
      </script>
      <script src="https://cdn.auth0.com/js/lock/11.23.0/lock.min.js"></script>
      <!-- fixme: upload _quizzes.js to s3 -->
      <script>
        <%= File.new("#{__dir__ }/_quizzes.js", mode: 'r:UTF-8').read %>
      </script>
    </div>
    <div class="guide-toc large-2 hide-for-medium-only hide-for-small-only columns">
      <ul class="side-nav">
        <dl class="accordion">
          <dd class="accordion-navigation active">
            <h3>Contents</h3>
            <div id="nav" class="toc content active">
              <ul class="sectlevel1">
                <% document.find_by({context: :section}) { |section| section.level == 1 }.each do |section| %>
                  <!-- fixme: highlighting the active section during scroll does not work properly in developer.js -->
                  <li><a href="#<%= section.id %>"><%= section.title %></a></li>
                <% end %>
              </ul>
            </div>
          </dd>
        </dl>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</article>

<% if syntax_highlighter && syntax_highlighter.docinfo?(:footer) %>
  <%
    unless (asset_uri_scheme = (attr('asset-uri-scheme', 'https'))).empty?
      asset_uri_scheme = %(#{asset_uri_scheme}:)
    end
    cdn_base_url = %(#{asset_uri_scheme}//cdnjs.cloudflare.com/ajax/libs)
  %>
  <%= syntax_highlighter.docinfo(:footer, self, cdn_base_url: cdn_base_url, linkcss: attr?('linkcss'), self_closing_tag_slash: '/') %>
<% end %>
<style>
  <%= File.new("#{__dir__ }/_extra.css", mode: 'r:UTF-8').read %>
</style>
<%# Responsive menu action %>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var menuElement = document.getElementsByClassName('dev-menu-nav')[0]
    var openMenuElement = menuElement.getElementsByClassName('open')[0]
    var closeMenuElement = menuElement.getElementsByClassName('close')[0]
    if (openMenuElement && menuElement && closeMenuElement) {
      openMenuElement.addEventListener('click', function() {
        menuElement.classList.remove('close')
        menuElement.classList.add('open')
      })
      closeMenuElement.addEventListener('click', function() {
        menuElement.classList.remove('open')
        menuElement.classList.add('close')
      })
    }
  })
</script>
<%# Intercom widget %>
<script>
  window.intercomSettings = {
    app_id: "<%= attr('intercom-app-id') %>",
    hide_default_launcher: true
  }
  ;(function () {
    var w = window
    var ic = w.Intercom
    if (typeof ic === "function") {
      ic('reattach_activator')
      ic('update', intercomSettings)
    } else {
      var d = document
      var i = function () {
        i.c(arguments)
      }
      i.q = []
      i.c = function (args) {
        i.q.push(args)
      }
      w.Intercom = i

      function l() {
        var s = d.createElement('script')
        s.type = 'text/javascript'
        s.async = true
        s.src = 'https://widget.intercom.io/widget/<%= attr('intercom-app-id') %>'
        var x = d.getElementsByTagName('script')[0]
        x.parentNode.insertBefore(s, x)
      }

      if (w.attachEvent) {
        w.attachEvent('onload', l)
      } else {
        w.addEventListener('load', l, false)
      }
    }
  })()
</script>
