<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js ie9" lang="en">
<![endif]-->
<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://neo4j.com/wp-content/themes/neo4jweb/favicon.ico">
  <title>Neo4j Online Course: <%= attr 'doctitle' %></title>
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/vendor/jquery-3.4.1.min.js?ver=3.4.1"></script>
  <script src="https://cdn.neo4jlabs.com/neo4j-com-developer/js/developer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <link type="text/css" media="all" href="https://neo4j.com/wp-content/cache/autoptimize/css/autoptimize_8b645ea33332b44fe3514427d020158e.css" rel="stylesheet">
  <link type="text/css" media="screen" href="https://neo4j.com/wp-content/cache/autoptimize/css/autoptimize_8e2ce35f626d99ef0c1f31bab925048d.css" rel="stylesheet">
  <link type="text/css" media="print" href="https://neo4j.com/wp-content/cache/autoptimize/css/autoptimize_44985399d871a425a8166209e7c146d8.css" rel="stylesheet">
  <link rel="stylesheet" id="dashicons-css" href="https://neo4j.com/wp-includes/css/dashicons.min.css?ver=5.3.2" type="text/css" media="all">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
  <%=  File.new("#{__dir__ }/stylesheet_override_partial.erb").read %>
  <script>
    $(document).ready(function () {
      $('.popup-link').magnificPopup({delegate: 'a', type: 'image'});
    });
  </script>
</head>
<body class="developer-template-default single single-developer postid-80953 mega-menu-menu-1 mega-menu-menu-2" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<%=  File.new("#{__dir__ }/top_bar_partial.erb").read %>

<!--MARQUEE-->
<div class="marquee-neo"></div>
<article id="content" role="main">
  <div class="content-wrapper">
    <div class="dev-menu-nav large-2 hide-for-medium-only hide-for-small-only columns">
      <h3 class="dev-nav-header"><strong>Developer Guides</strong></h3>
      <ul style="padding-top: 0;" class="side-nav">
        <% @attributes.select {|k,_| k.start_with?('module_toc_link_') }.each_key do |toc_link_attr| %>
          <% toc_title_attr = "module_toc_title_#{toc_link_attr.sub 'module_toc_link_', ''}" %>
          <a href="<%= attr toc_link_attr %>">
            <dl class="menu-list">
              <dd class="accordion-dev-nav"><%= attr toc_title_attr %></dd>
            </dl>
          </a>
        <% end %>
      </ul>
      <div class="c2a-icons">
        <div>
          <a href="http://community.neo4j.com" target="_blank" alt="Neo4j Community Site and Forum" rel="noopener noreferrer"><i class="fa fa-comments" aria-hidden="true"></i><br></a>
        </div>
        <div><a href="http://twitter.com/neo4j" target="_blank" alt="Neo4j on Twitter" rel="noopener noreferrer">
          <i class="fa fa-twitter" aria-hidden="true"></i><br></a></div>
        <div>
          <a href="http://youtube.com/neo4j" target="_blank" alt="Neo4j on YouTube" rel="noopener noreferrer"><i class="fa fa-youtube-play" aria-hidden="true"></i><br></a>
        </div>
        <div>
          <a href="https://meetup.com/Neo4j-Online-Meetup/" target="_blank" alt="Neo4j on Meetup" rel="noopener noreferrer"><i class="fa fa-meetup" aria-hidden="true"></i><br></a>
        </div>
        <div>
          <a href="https://github.com/neo4j/neo4j" target="_blank" alt="Neo4j on GitHub" rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i><br></a>
        </div>
        <div>
          <a href="http://stackoverflow.com/questions/tagged/neo4j" target="_blank" alt="Neo4j on Stackoverflow" rel="noopener noreferrer"><i class="fa fa-stack-overflow" aria-hidden="true"></i><br></a>
        </div>
      </div>
      <div class="promote-speaker-program">
        Want to Speak? <a href="https://neo4j.com/speaker-program/">Get $ back.</a>
      </div>

    </div>
    <div class="guide-section-content large-8 columns">
      <h1 class="entry-title"><%= attr 'doctitle' %></h1>
      <%= attr 'module_toc_0_key' %>
      <%= attr 'module_toc_0_value' %>
      <%= attr 'module_toc_1_key' %>
      <%= attr 'module_toc_1_value' %>
      <%= content %>
    </div>
    <div class="guide-toc large-2 hide-for-medium-only hide-for-small-only columns">
      <ul class="side-nav">
        <dl class="accordion">
          <dd class="accordion-navigation active">
            <h3>Contents</h3>
            <div id="nav" class="toc content active">
              <ul class="sectlevel1">
                <li class="active"><a href="#neo4j-feedback">Feedback &amp; Questions</a></li>
                <li><a href="#browser-sync">Neo4j Browser Sync</a></li>
                <li><a href="#browser-guides">Built-in Guides</a></li>
                <li><a href="#browser-styling">Styling Neo4j Browser Visualization</a></li>
                <li><a href="#browser-commands">Useful Commands and Keyboard Shortcuts</a></li>
                <li><a href="#browser-tips">Query and Command-Line Tips</a></li>
                <li><a href="#browser-metadata">Graph Metadata</a></li>
                <li><a href="#browser-favorites">Setting Favorites</a></li>
                <li><a href="#browser-config">Configuration</a></li>
                <li><a href="#browser-rest">Executing REST requests</a></li>
                <li><a href="#browser-resources">Resources</a></li>
              </ul>

            </div>
          </dd>
        </dl>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</article>

<%=  File.new("#{__dir__ }/footer_partial.erb").read %>

<a class="exit-off-canvas"></a>

<script type="text/javascript" src="https://neo4j.com/wp-includes/js/hoverIntent.min.js?ver=1.8.1"></script>
<script type="text/javascript">
  var megamenu = {"timeout": "300", "interval": "100"};
</script>
<script type="text/javascript" src="https://neo4j.com/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.7.3"></script>
<script type="text/javascript">
  var neo_sts_params = {"engineKey": "wv4pczb-fro-K3xZczof"};
</script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist.min.js?ver=20200117-1026"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/neo_cookies.js?ver=20190607-1429" data-cookieconsent="marketing"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/assets/js/dist/components/links-tracking.es6.js?ver=1581654130"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/themes/neo4jweb/bower_components/aos/dist/aos.js?ver=20191218"></script>
<script type="text/javascript" src="https://neo4j.com/wp-content/plugins/megamenu-pro/assets/public.js?ver=1.9.4"></script>
<script type="text/javascript" src="https://neo4j.com/wp-includes/js/wp-embed.min.js?ver=5.3.2"></script>
</body>
</html>
